html {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    max-width: 700px;
}

* {
    color:brown;
}

header {
    background-color: cadetblue;
    color:darkorange;
    position: fixed;
    width: 100%;
    max-width: 100%;
    top: 0;
    left: 0;
    height: 72px;
    /*
    Quelle: https://community.atlassian.com/t5/Confluence-questions/Drop-shadow-CSS-on-header/qaq-p/1488228
    */
    box-shadow: 0 0 10px rgba(128,128,128,.8); /** the shadow */
}

body {
    margin: 0px;
    margin-top: 80px;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 25px;
}

a:hover {
    color: white;
}

footer {
    background-color: cadetblue;
    text-align: center;
    color:darkorange;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 100%;
    left: 0;

    /*
    Quelle: https://community.atlassian.com/t5/Confluence-questions/Drop-shadow-CSS-on-header/qaq-p/1488228
    */
    box-shadow: 0 0 10px rgba(128,128,128,.8); /** the shadow */
}

footer:hover {
    color: white;
}



.hr1 {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.hr2 {
    padding-top: 0px;
    margin-top: 0px;
}
.hr3 {
    margin: 0px;
    padding: 0px;
}


.hra {
    margin: 0px;
    padding: 0px;
}

img {
    border: 2px solid brown;
    box-shadow: 0 0 10px rgba(128,128,128,.8); /** the shadow */
    margin: 5px;
}